<header class="page-header">
  <!-- Navigation -->
  <nav class="header-nav">
    <a href="#" class="logo">
      <img src="/icon/volley_icon.png" alt="ACEUP Logo" class="logo-image" />
    </a>

    <ul class="options">
      <li><a href="#">Explore</a></li>
      <li><a href="#">Matches</a></li>
      <li><a href="#">Community</a></li>
    </ul>
    <div class="buttons-container">
      <ng-container *ngIf="!(authService.accessToken$ | async) else showProfile">
        <button class="btn" (click)="showLogin = true">Login</button>
      </ng-container>
      <ng-template #showProfile>
        <app-profile-avatar></app-profile-avatar>
      </ng-template>
    </div>
  </nav>

  <!-- Hero content -->
  <div class="hero-content">
    <h1>Level Up Your Game</h1>
    <p>Connect. Compete. Conquer. Start your journey with ACEUP today!</p>
    <button class="btn" (click)="showRegister = true">Get Started</button>
  </div>

  <!-- Background video -->
  <video autoplay loop muted class="video-container">
    <source src="/videos/video1.mp4" type="video/mp4" />
  </video>
</header>


<!-- ✅ Login overlay -->
<app-login *ngIf="showLogin" (closeLogin)="showLogin = false"></app-login>

<!-- Register Overlay-->
<app-register *ngIf="showRegister" (closeRegister)="showRegister = false"></app-register>